body {
    font-family: Arial, sans-serif;
    background-color: #ac8686;
}

.container {
    width: 300px;
    margin-left: 40%;
    margin-top: 13%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
}

input[type="text"] {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 60%;
    padding: 10px 32px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #333;
    color: #fff;
}
